@mixin box-sizing($method: border-box) {
    -moz-box-sizing: $method;
    -webkit-box-sizing: $method;
    box-sizing: $method;
}
%cover {
    height: 100%;
    width: 100%;
}
.wrapper,
.map,
body,
html {
    @extend %cover;
}
body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.wrapper {
    padding-left: 300px;
}
.map {
    background-image: url(../img/loading.gif);
    background-position: 50%;
    background-repeat: no-repeat;
}


.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 300px;
    background-color: #e5e9dd;

    box-shadow: 3px 0 10px rgba(0,0,0,.3);

    h1 {
        width: 200px;
        height: 200px;
        overflow: hidden;
        text-indent: -99em;
        margin: 20px auto;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .location {
        width: 240px;
        margin: 0 30px 20px;
        position: relative;
        border: 1px solid #eee;

        input {
            width: 200px;
            padding: 5px;
            font-size: 20px;
            border: 0;
            @include box-sizing;
        }
        button {
            width: 40px;
            display: block;
            @include box-sizing;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border: 0;
        }
    }
}
